################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.obj
/MicroRabbit/.vs/MicroRabbit/v17
/MicroRabbit/MicroRabbit.Domain.Core/obj
/MicroRabbit/.vs/MicroRabbit/FileContentIndex
/MicroRabbit/MicroRabbit.Domain.Core/bin/Debug/net8.0
/MicroRabbit/MicroRabbit.Infrastructure.Bus/obj
/MicroRabbit/MicroRabbit.Infrastructure.Bus/bin/Debug/net8.0
/MicroRabbit/.vs/MicroRabbit/DesignTimeBuild
/MicroRabbit/MicroRabbit.Infrastructure.IoC/bin/Debug/net8.0
/MicroRabbit/MicroRabbit.Infrastructure.IoC/obj
/MicroRabbit/MicroRabbit.Banking.Api/bin/Debug/net8.0
/MicroRabbit/MicroRabbit.Banking.Api/obj
/MicroRabbit/MicroRabbit.Banking.Application/bin/Debug/net8.0
/MicroRabbit/MicroRabbit.Banking.Application/obj
/MicroRabbit/MicroRabbit.Banking.Domain/bin/Debug/net8.0
/MicroRabbit/MicroRabbit.Banking.Domain/obj
/MicroRabbit/MicroRabiit.Banking.Infrastructure/obj
/MicroRabbit/MicroRabiit.Banking.Infrastructure/bin/Debug/net8.0
/MicroRabbit/MicroRabbit.Transfer.Application/bin/Debug/net8.0
/MicroRabbit/MicroRabbit.Transfer.Application/obj
/MicroRabbit/MicroRabbit.Transfer.Data/bin/Debug/net8.0
/MicroRabbit/MicroRabbit.Transfer.Data/obj
/MicroRabbit/MicroRabbit.Transfer.Domain/bin/Debug/net8.0
/MicroRabbit/MicroRabbit.Transfer.Domain/obj
/MicroRabbit/MicroRabbit.Trasfer.Api/bin/Debug/net8.0
/MicroRabbit/MicroRabbit.Trasfer.Api/obj
/MicroRabbit/.vs/ProjectEvaluation/microrabbit.metadata.v7.bin
/MicroRabbit/.vs/ProjectEvaluation/microrabbit.projects.v7.bin
/MicroRabbit/MicroRabbit.MVC/bin/Debug/net8.0
/MicroRabbit/MicroRabbit.MVC/obj
