################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MicroRabbit/.vs/MicroRabbit/v17
/MicroRabbit/MicroRabbit.Domain.Core/obj
/MicroRabbit/.vs/MicroRabbit/FileContentIndex
