################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.obj
/MicroRabbit/.vs/MicroRabbit/v17
/MicroRabbit/MicroRabbit.Domain.Core/obj
/MicroRabbit/.vs/MicroRabbit/FileContentIndex
/MicroRabbit/MicroRabbit.Domain.Core/bin/Debug/net8.0
/MicroRabbit/MicroRabbit.Infrastructure.Bus/obj
/MicroRabbit/MicroRabbit.Infrastructure.Bus/bin/Debug/net8.0
